main {
    background: linear-gradient(180deg, #fbfbfb, rgba(255, 255, 255, 0.73) 28.5%, rgba(249, 249, 249, 0.4) 64%, rgba(91, 173, 160, 0.47));
}
header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fdfdfd;
}
.logo {
    display: flex;
    align-items: center;
}

.icone {
    margin: 15px 20px 15px 25px;
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.titulo {
    padding-top: 10px;
    font-size: 28px;
    font-family: 'Josefin Sans';
    color: #1d2830;
}

.menu {
    position: relative;
    left: 0px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link {
    margin-right: 30px;
}
.notificacoes-icon {
    margin: 5px;
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.perfil {
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 70px;
    height: 70px;
    
}
.icone-perfil {
    margin: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.adm {
    width: 100vw;
    color: #fbfbfb;
    background-color: #394744;
    text-align: center;
}

.sessao-cadastro {
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    height: 400px;
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.desenho {
    height: 500px;
}
.funcionalidades{
    position: absolute;
    right: -22px;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.btn-cadastrar {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: #394744;
    width: 370px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btn-encaminhamentos {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: #566f6b;
    color: #fbfbfb;
    width: 370px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 600;
}
.btn-cadastros {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: #5bada0;
    width: 370px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.metricas {
    margin: 70px 30px 0px 30px;
    padding-bottom: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metricas h2 {
    font-size: 48px;
    line-height: 48px;
    color: #566f6b;
    margin-bottom: 20px;
}
.metricas input {
    width: 200px;
}

.dados-visitas {
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px 0px 50px;
    row-gap: 30px;
}

.info {
    width: 200px;
    margin: auto;
    position: relative;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.35) inset;
    border-radius: 100px;
    background-color: #fff;
    height: 200px;
    text-align: center;
    font-size: 40px;
    color: #566f6b;
    font-family: 'Open Sans';
    font-weight: 600;
}
.numero {
    position: absolute;
    top: 46px;
    left: 77px;
}
.legenda {
    position: absolute;
    top: 100px;
    left: 23px;
    font-size: 17px;
    display: inline-block;
    width: 153px;
}

.rodape {
    width: 100%;
    background-color:#394744;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Josefin Sans';
}
.join {
    font-size: 18px;
}
.apoio {
    font-weight: 300;
    margin-bottom: 25px;
}

@media (max-width: 760px) {
    header {
      grid-template-columns: 1fr;
      height: 200px;
      box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
    }
    .menu {
        justify-content: center;
        margin-left: 20px;
    }
}
@media (max-width: 610px) {
    .dados-visitas {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 50px 0px 50px;
        row-gap: 10px;
    }
}
