<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
	<link rel="stylesheet"  href="../public/static/css/global.css" />
  	<link rel="stylesheet"  href="../public/static/css/sucesso.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin Sans:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700;800&display=swap" />
</head>
<body>
	<header> 
		<div class="logo">
			<a href="dashboard-acs.html"><img class="icone" alt="Ícone do SobreVidas ACS" src="../public/assets/images/icone.png"></a>
        	<h1 class="titulo">SobreVidas ACS</h1>
		</div>
		<div class="menu">
			<a class="link" href=""><p class="contato">Contato ▽</p></a>
			<a class="link" href=""><p class="duvidas">Duvidas ▽</p></a>
			<a class="notificacoes" href=""><img class="notificacoes-icon" alt="" src="../public/assets/images/icone-notificacao.png"></a>
			<a class="perfil" href=""><img class="icone-perfil" alt="" src="../public/assets/images/icone-perfil.png"></a>
		</div>
    </header>

	<main>
		<div class="mensagem-sucesso">
			<h2>Paciente cadastrado com sucesso!</h2>
			<p>Caso o paciente seja encaminhado para solicitação de consulta, verificar a lista de "Consultas para marcar" ao chegar na unidade de saúde, tentar marcar consulta e notificar paciente pelas informações de contato.</p>
			<a class="botaovoltar" href="dashboard-acs.html">Início</a>
			<a class="btn-novo-cadastro" href="cadastro-paciente.html">Novo Cadastro</a>
		</div>
	</main>
	<footer class="rodape">
        <p class="join">Junte-se a essa jornada!</p>
        <p class="apoio">Juntos, podemos espalhar sorrisos e conscientização, combatendo o câncer de boca um passo de cada vez.</p>
        <p class="copyright">© 2024 Copyright - Sobre Vidas ACS</p>
    </footer>
</body>
</html>