<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../public/static/css/global.css" />
  	<link rel="stylesheet"  href="../public/static/css/lista.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin Sans:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700;800&display=swap" />
    <title>Listagem de Pacientes</title>
</head>
<body>
    <header> 
		<div class="logo">
			<a href="/voltar"><img class="icone" alt="Ícone do SobreVidas ACS" src="../public/assets/images/icone.png"></a>
        	<h1 class="titulo">SobreVidas ACS</h1>
		</div>
		<div class="menu">
			<a class="link" href=""><p class="contato">Contato ▽</p></a>
			<a class="link" href=""><p class="duvidas">Duvidas ▽</p></a>
			<a class="notificacoes" href=""><img class="notificacoes-icon" alt="" src="../public/assets/images/icone-notificacao.png"></a>
			<a class="perfil" href="/perfil-usuario"><img class="icone-perfil" alt="" src="../public/assets/images/icone-perfil.png"></a>
		</div>
    </header>
    <main>
        <a class="voltar" href="/voltar">Voltar</a>
        <h2 class="lista">🟡Pacientes com média prioridade🟡</h2>
        <p class="instru">Caso alguma dúvida no cadastro verifique dúvidas frequentes ou entre em Contato para mais informações.</p>
        <form action="/lista-pacientes" method="post">
            <label for="buscar-cpf">Buscar por CPF:</label>
            <input type="text" id="buscar-cpf" name="buscar-cpf">
            <button type="submit"><img src="../public/assets/images/lupa.png" alt=""></button>
        </form>
        <table>
            <thead>
                <tr>
                    <th class="name">Nome</th>
                    <th>CPF</th>
                    <th>Cartão do SUS</th>
                    <th>Data de Nascimento</th>
                    <th>Sexo</th>
                    <th>Unidade de Origem</th>
                    <th>E-mail</th>
                    <th>Celular</th>
                    <th>Celular 2</th>
                    <th>Nome da Mãe</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Endereço</th>
                    <th>Tabagista</th>
                    <th>Etilista</th>
                    <th>Lesões</th>
                    <th>Consulta</th>
                    <th>&#x1F4DD;</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td class="name">{{.Nome}}</td>
                    <td>{{.CPF}}</td>
                    <td>{{.CartaoSUS}}</td>
                    <td>{{.DataNascimento}}</td>
                    <td>{{.Sexo}}</td>
                    <td>{{.UnidadeOrigem}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.Celular1}}</td>
                    <td>{{.Celular2}}</td>
                    <td>{{.NomeMae}}</td>
                    <td>{{.CEP}}</td>
                    <td>{{.Cidade}}</td>
                    <td>{{.Bairro}}</td>
                    <td>{{.Endereco}}</td>
                    <td>{{if .Tabagista}}✅{{else}}❌{{end}}</td>
                    <td>{{if .Etilista}}✅{{else}}❌{{end}}</td>
                    <td>{{if .Lesoes}}✅{{else}}❌{{end}}</td>
                    <td>{{if .Consulta}}✅{{else}}❌{{end}}</td>
                    <td><a href="/editar-paciente?id={{.ID}}">&#x270F;&#xFE0F;</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
    <footer class="rodape">
        <p class="join">Junte-se a essa jornada!</p>
        <p class="apoio">Juntos, podemos espalhar sorrisos e conscientização, combatendo o câncer de boca um passo de cada vez.</p>
        <p class="copyright">© 2024 Copyright - Sobre Vidas ACS</p>
    </footer>
</body>
</html>


